<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="mercury-web" organization="sunsw" logger="slf4j"/>
    <dubbo:consumer check="false" timeout="50000"/>

    <!-- 若采用直连的方式 注释下行配置  -->
    <dubbo:registry protocol="zookeeper" address="${registry.address}"/>

    <dubbo:protocol name="${protocol.name}" port="${protocol.port}"/>

    <dubbo:annotation package="com.sunsw.mercury"/>
    <dubbo:reference id="authUserService" interface="com.sunsw.mercury.service.AuthUserService" group="mercury" version="1.0"/>
    <dubbo:reference id="authRoleService" interface="com.sunsw.mercury.service.AuthRoleService" group="mercury" version="1.0"/>
    <dubbo:reference id="authPermissionService" interface="com.sunsw.mercury.service.AuthPermissionService" group="mercury" version="1.0"/>
    <dubbo:reference id="authRolePermissionService" interface="com.sunsw.mercury.service.AuthRolePermissionService" group="mercury" version="1.0"/>
    <dubbo:reference id="sysMenuService" interface="com.sunsw.mercury.service.SysMenuService" group="mercury" version="1.0"/>
    <dubbo:reference id="sysRoleMenuService" interface="com.sunsw.mercury.service.SysRoleMenuService" group="mercury" version="1.0"/>
    <dubbo:reference id="sysOrganizationService" interface="com.sunsw.mercury.service.SysOrganizationService" group="mercury" version="1.0"/>

    <!--若采用直连的方式，增加url-->
    <!--<dubbo:reference id="authUserService" interface="com.sunsw.mercury.service.AuthUserService"-->
                     <!--url="dubbo://127.0.0.1:20880/com.sunsw.mercury.service.AuthUserService" group="mercury"-->
                     <!--version="1.0"/>-->
    <!--<dubbo:reference id="authPermissionService" interface="com.sunsw.mercury.service.AuthPermissionService"-->
                     <!--url="dubbo://127.0.0.1:20880/com.sunsw.mercury.service.AuthPermissionService" group="mercury"-->
                     <!--version="1.0"/>-->
    <!--<dubbo:reference id="authRoleService" interface="com.sunsw.mercury.service.AuthRoleService"-->
                     <!--url="dubbo://127.0.0.1:20880/com.sunsw.mercury.service.AuthRoleService" group="mercury"-->
                     <!--version="1.0"/>-->
    <!--<dubbo:reference id="sysMenuService" interface="com.sunsw.mercury.service.SysMenuService"-->
                     <!--url="dubbo://127.0.0.1:20880/com.sunsw.mercury.service.SysMenuService" group="mercury"-->
                     <!--version="1.0"/>-->

</beans>
